.reservation-card {
    height: 13em;
    width: 15em;
    border: 6px solid;
    border-radius: 4%;
    background-color: rgb(252, 252, 252);
    color: teal;
    margin: 15px;
}

.cancel-button {
    background-color: teal;
    color:rgb(252, 252, 252);
    height: 2em;
    width: 14em;
    border: 1px solid grey;
}